@charset "utf-8";
/* CSS Document for the footer*/

#footer{
	background-color:#000;
	color:  #8d8d8d;
	height: 75px;
}

#footer-bar{
	background: url("../images/bar_head_and_foot.png") repeat-x top left transparent;
	position:absolute;
	z-index:10;
	top:-10px; left:0;
	height:40px;
	width:100%;	
}
#social-media-icons{
   float:left;
   width: 300px;
   height: 50%;
   margin-top: 8px;
   margin-left: 50px;
   margin-right: auto;
   margin-bottom: 8px;
   position: relative;
   z-index:9; /* show below the footer-bar */
   bottom: 53%;
}

#social-media-icons ul{
  height:100%;
  min-height:100%;
  max-height:100%;
  margin-left:0;
}

#social-media-icons ul li:first-child{
	width:80px;		
}
#social-media-icons li{
	max-height:100%;
	width:14%;
	display: inline-block;
	margin-right:10px;
	position:relative;
	vertical-align:top;
}

#social-media-icons li img{
	max-height: 100%;
	height:100%;
	max-width:100%;
	vertical-align:middle;
	border:none;
	border-radius:4px;
}

#social-media-icons ul li:hover{
	bottom:8px;
}


#fb-like{
	height:20px;
	padding-bottom:20px;

}
#fb-like .fb_iframe_widget iframe{
	bottom:0px !important;
}

#fb{
	bottom:5px;
	transform:rotate(-2deg);
	-ms-transform:rotate(-2deg); /* IE 9 */
	-webkit-transform:rotate(-2deg); /* Safari and Chrome */
}
#fb:hover{
	transform:rotate(1deg);
	-ms-transform:rotate(1deg); /* IE 9 */
	-webkit-transform:rotate(1deg); /* Safari and Chrome */	
}

#sc{
	bottom:2px;
	transform:rotate(2deg);
	-ms-transform:rotate(2deg); /* IE 9 */
	-webkit-transform:rotate(2deg); /* Safari and Chrome */
}
#sc:hover{
	transform:rotate(-2deg);
	-ms-transform:rotate(-2deg); /* IE 9 */
	-webkit-transform:rotate(-2deg); /* Safari and Chrome */
}

#yt:hover{
	transform:rotate(2deg);
	-ms-transform:rotate(2deg); /* IE 9 */
	-webkit-transform:rotate(2deg); /* Safari and Chrome */
}


#copyright {
	position:absolute;
	width:auto;
	min-width:800px;
	height:30px;
	margin-top:35px;
	margin-left: 130px;
}

#copyright ul{
	overflow:hidden;
	height:100%;
	list-style:none;	
	margin-left:0;	
}
#copyright ul >li {
	display:inline;
	width:auto;
	margin-right:40px;
	margin-left:40px;
	height:100%;
}
