@charset "utf-8";
/* CSS Document */

#footer{
	background: url("../images/herhaling-header-en-footer.PNG") repeat-x top left black;
	color:  #009;
}


#social-media-icons{
   float:left;
   width: 25%;
   max-width:500px;
   height: 50%;
   margin-top: 8px;
   margin-left: 5%;
   margin-right: auto;
   margin-bottom: 8px;
   position: relative;
   bottom: 20%;
}

#social-media-icons ul{
  height:100%;
  min-height:100%;
  max-height:100%;	
}

#social-media-icons ul .icons{
	max-height:100%;
	height:100%;
	width:20%;
	display: inline-block;
	margin-right:8%	;
	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg); /* IE 9 */
	-webkit-transform:rotate(-7deg); /* Safari and Chrome */ 	
}

#social-media-icons .icons img{
	max-height: 100%;
	height:100%;
	max-width:100%;
	vertical-align:middle;
	border:none;
}

#social-media-icons ul .icons:hover{
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-webkit-transform:rotate(7deg); /* Safari and Chrome */
}


#copyright {
	width:70%;
	margin-left:30%;
	height:57px;
	padding:3px;
}

#copyright ul{
	list-style:none;		
}
#copyright ul >li {
	float:left;
	margin-right:50px;
	width: auto;;
	overflow:auto;
}