/* Foto stylesheet */
@charset "utf-8";
/* CSS Document */


#gallery{
	width:100%;
	height:100%;
}

#showPhoto{ 
	height:50%;
	max-height:350px;
	width:70%;
	float: left;
	margin-left: 20px;
}

#showPhoto img{
	display: block;
	margin: 10px auto;
	border-radius:30px;
	height:100%;
	max-height:100%;
	width: 100%;
}
*/
#album-list {
	display:inline;
}

#album-list li {
	text-align:center;
	list-style: none;
	float: left;
	margin-right:20px;
	width:150px;
	margin-top:30px;
}

#album-list li img {
	width:100%;
	list-style: none;
}
	
#photolist{
	float:right;
	position:relative;
	width:100px;
	height:355px;
	overflow:hidden;
	margin-right: 50px;
}

#thumbs-one-album {
	position:absolute;
	height:100%;
}

#thumbs-one-album li {
	list-style: none;
	width:100%;
	margin-top:10px;
}	

#thumbs-one-album li img {
	width:100%;
	list-style: none;
}

#thumbs-box{
	position:relative;
	width:70%;
	height: 75px;
	max-height:75px;
	max-width: 1500px;
	margin:20px auto;
}

#thumbs-box-overflow{
	position:relative;
	overflow:hidden;	
	height:100%;
	width:100%

}

#thumbs {
	position:absolute;
	width:99999px;
	list-style:none;
}
#thumbs li{
	display:inline-block;
	float:left;
	clear:right;
	height:100%;
	max-height:100%;
	padding:0 8px;
	position:relative;
}

#thumbs li img{
	cursor:pointer;
	max-height:100%;
	height:100%;
	width:100%;
	max-width:100%;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid white;

}
#prev, #next{
	cursor:pointer;
	width:50px;
	height:50px;
	background-color: rgba(256,256,256,0.5);
	position:absolute;
	bottom:10%;	
	border-radius:25px;
}
#prev:hover, #next:hover{
	background-color: rgba(256,256,256,0.8)
}
#prev{
	left:-30px;
}
#next{
	right:-30px;
}
*/
