/* Menu positioning */

#menu, #menu ul {
    list-style: none;
    padding: 0;
}
#menu {
    float: left;
    clear: both;
	margin-top: 210px;
}
#menu > li{ 
    float: left;
}
#menu li a {
    display: block;
    height: 2em;
    line-height: 2em;
    padding: 0 1.5em;
    text-decoration: none;
}
#menu ul {
    position: absolute;
    display: none;
    z-index: 999;
}
#menu ul li a {
    width: 80px;
}
#menu li:hover ul.noJS {
    display: block;
}

/* Menu coloring and styling */
/* Main menu
------------------------------------------*/
#menu {
    font-family: Arial;
    font-size: 12px;
    background: #2f8be8;
}
#menu > li > a {
    color: #fff;
    font-weight: bold;
}
#menu > li:hover > a {
    background: #f09d28;
    color: #000;
}
 

/* Submenu
------------------------------------------*/
#menu ul {
    background: #f09d28;
}
#menu ul li a {
    color: #000;
}
#menu ul li:hover a {
    background: #ffc97c;
}

#menu > li.highlight > a{
    color: #A04B33;
}