*{
 	margin:0;
	padding:0;
	/*border: 1px solid #FF3;*/
}


body,html{
	 height: auto !important; /* ie6 ignores !important, so this will be overridden below */
    min-height: 100%; /* ie6 ignores min-height completely */
    height: 100%;
	position:relative;
	font-family:: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: red;
	background: url("../images/IMG_2431.jpg")  fixed no-repeat top center #000000;
}

#header{
	overflow:hidden;
	position:fixed;
	top:0px;
	width:100%;
	height:250px;
	background: url("../images/footer.png") repeat-x bottom left #000;
}

#header #logo{
	height:200px;
}
#footer{
	overflow: hidden;
	width:100%;
	height: 100px;
	background: url("../images/footer.png") repeat-x top left #000;
	position:fixed;
	bottom: 0;
	left:0;
}

#middle{
	padding-top: 250px;
	padding-bottom: 100px;
}

#showBubble{
	float:right;
	margin-right: 400px;
	margin-top:-60px;
	width: 200px;	
	height:200px;	/* same as width*/
    border-radius: 100px; /* 1/2 as width*/
    background:rgba(79,98,144,0.3);
	border: 1px outset #D6DBE9;
}

.bubble{
	float: left;
	margin-left: 50px;
	margin-top: 50px;
	width: 600px;	
	height:600px;	/* same as width*/	
    border-radius: 300px; /* 1/2 as width*/
    background:rgba(79,98,144,0.8);
}

.bubble2{
	float: left;
	margin-top: 300px;
	margin-left: 100px;
	width: 400px;	
	height:400px;	/* same as width*/	
    border-radius: 200px; /* 1/2 as width*/
    background:rgba(79,98,144,0.8);	
}
.bubble>.typable, .bubble2>.typable{
	margin:15%;
	padding:2%;
	width:66%;
	height:66%;
	overflow:auto;
	border-radius: 10%;
}
.typable > img{
	max-width:50%;
}
