*{
 	margin:0;
	padding:0;
	/*border: 1px solid #FF3;*/
}


body,html{
	height:auto !important
    min-height: 100%; /* ie6 ignores min-height completely */
    height: 100%;
	position:relative;
	background: url("../images/background.jpg")  fixed no-repeat top left #000000;
	font-family:Arial, Gadget, sans-serif;
	font-size: 0.9em;
	color: #CCC;
}

#header{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	background: black;
	z-index:100;
}

#header #logo{
	height:200px;
}
#footer{
	width:100%;
	height: 100px;
	background: url("../images/footer.png") repeat-x top left #000;
	position:fixed;
	z-index:100;
	bottom: 0;
	left:0;
}


#content-bar{
	background-color:#362F2F;	
	width:630px;
	height:auto;
	min-height:100%;
	position:relative;
	z-index:50;
	margin-left:150px;
	margin-right:auto;
}	
#content{
	background: url("../images/sidebar.png") repeat-y top left transparent;
	margin-left:-10px;
	margin-right:-10px;
	overflow:auto;
	padding-bottom:120px;
	padding-top: 240px;
	padding-left: 50px;
	padding-right:50px;
}

ul{
	margin-left:20px;
	font-weight:bold;
	list-style:disc;
	list-style-position:inside;
}

h1,h2,h3,h4,h5,h6{
	margin:10px 0;
}

h2{ 
	}

p{
	margin-top:10px;
	margin-bottom:10px;
}