@charset "utf-8";
/* CSS Document */


#showBubble{
	float:right;
	margin-right: 400px;
	margin-top:-80px;
	width: 200px;	
	height:200px;	/* same as width*/
    border-radius: 100px; /* 1/2 as width*/
    background:rgba(79,98,144,0.3);
	border: 1px outset #D6DBE9;
}

.bubble{
	float: left;
	margin-left: 50px;
	margin-top: -50px;
	width: 600px;	
	height:600px;	/* same as width */
    border-radius: 300px; /* 1/2 as width */
    background:rgba(79,98,144,0.8);
}

.bubble2{
	float: left;
	margin-top: 100px;
	margin-left: 100px;
	width: 400px;	
	height:400px;	/* same as width*/	
    border-radius: 200px; /* 1/2 as width*/
    background:rgba(79,98,144,0.8);	
}
.bubble>.typable, .bubble2>.typable{
	margin:15%;
	padding:2%;
	width:66%;
	height:66%;
	overflow:auto;
	border-radius: 10%;
}
.typable > img{
	max-width:50%;
}
*/