@charset "utf-8";
/* CSS Document */


#showVideo{
	width: auto;
	height:auto;
}

#showVideo iframe{
	width: 420px;
	height:319px;
}

#videoList{
	padding-top:40px;
	float:right;
	clear:right;
	width:300px;
}


.video{
	min-height: 100px;
	height:auto;
	width:100%;	
	margin-bottom:10px;
}

.video p{
	visibility:hidden;
	position:absolute;
}

.video img{
	float:left;
	margin-right:10px;
	cursor:pointer;
	height:100px;
}