@charset "utf-8";
/* CSS Document */



#videoList{
	float:right;
	clear:right;
}

.video{
	height:100px;
	width:100px;
	margin-top:10px;
	margin-bottom:10px;
}

.video img{
	cursor:pointer;
	height:100%;
}