Redirect 301 /development http://www.homemadewater.nl/404.shtml
AddType text/x-component .htc

# static to dynamic urls
RewriteEngine On
RewriteBase /
#from nieuws/item27.html
#to   nieuws.php?item=27
RewriteRule ^nieuws/item([0-9]+)\.html$ nieuws.php?item=$1 [L]


#dynamic urls for file_upload.php
#from  file_upload/first/second/third/
#to    file_upload.php?fst=first&second=snd&third=thd
RewriteRule ^file_upload/([^/]*)/*([^/]*)/*([^/]*/*)$ file_upload.php?fst=$1&snd=$2&thd=$3 [L]
#RewriteRule ^file_upload/([^/]+)$ file_upload.php?fst=$1&snd=$2&thd=$3 [L]

# 480 weeks
<FilesMatch "\.(ico|pdf|flv|jpg|JPG|jpeg|png|gif|swf|doc|css)$">
Header set Cache-Control "max-age=290304000, public"
Header append Vary Accept-Encoding
</FilesMatch>

# 1 Week
<FilesMatch "\.(xml|txt|js)$">
Header set Cache-Control "max-age=604800, public, must-revalidate"
Header append Vary Accept-Encoding
</FilesMatch>

# 2 HOURS
<FilesMatch "\.(html|htm)$">
Header set Cache-Control "max-age=7200, must-revalidate"
Header append Vary Accept-Encoding
</FilesMatch>

#Set browser rendering for IE
<FilesMatch "\.(htm|html|php)$">
    <IfModule mod_headers.c>
        BrowserMatch MSIE ie
        Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
    </IfModule>
</FilesMatch>