@charset "utf-8";
/* CSS Document */

#agendaItem{
	overflow:hidden;
}
#agendaItem img{
	background-color:white;
	border-radius:5px;
	float:right;
	width:300px;
	height:auto;
	margin-bottom:30px;
}

#botback  {
	margin-top:100px;
}


.agenda{
	margin:10px auto;
}
.agenda ul{
	list-style:none;
}

.agenda h4{
	width:95%;
	margin: 25px auto 5px 0;
	border-bottom:2px solid grey;	
}
.agenda li{
	overflow:hidden;
	width:48%;
	margin:1% 0.5%;
	padding:0;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;

}
.agenda li > span{
	display:block;
	margin-left: 65px;	
	text-indent:0;
	width:auto;
}

.agenda div.date{
	margin-top:0;
	margin-bottom:0;
	margin-left:-1px;
	height:100%;
}
.agenda li a{
	text-decoration:none;
	overflow:hidden;
	display:block;
}
.agenda li a span{
	color:#333;
	display:block;
	width:auto;
}

.agenda li:hover{
	background-color:rgb(184, 187, 187);
	background-color:rgba(184, 187, 187,.4);;
}