@charset "utf-8";
/* CSS Document */

#agendaItem, #visualGigs{
	overflow:hidden;
}
#agendaItem img{
	background-color:white;
	border-radius:2px;
	float:right;
	width:300px;
	height:auto;
	margin:30px 0 30px 30px;
}

.agenda ul{
	list-style:none;
}

.agenda h4{
	margin: 0 auto 5px 0;
	border-bottom:2px solid grey;	
}
.agenda li{
	overflow:hidden;
	width:48%;
	margin:1% 0.5%;
	padding:0;
	vertical-align:top;
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.agenda li > span{
	display:block;
	margin-left: 65px;	
	text-indent:0;
	width:auto;
}

.agenda div.date{
	margin-top:0;
	margin-bottom:0;
	margin-left:-1px;
	height:100%;
}

.agenda li span.title{
	overflow:hidden;
	display:block;
	cursor:pointer	;
}
.agenda .description{
	margin:0;
	margin-bottom:10px;
	display: inline-block;
	width:100%;
	font-style: italic;
	font-size: 14px;
}
.agenda .description > *{
	position: relative;
	right: 16%;
	width: 114%;
}
.agenda li span.location{
	color:#333;
	display:block;
	width:auto;
}
.agenda li span > a{
	text-decoration:none;
}
.agenda li:hover{
	background-color:rgb(184, 187, 187);
	background-color:rgba(184, 187, 187,.4);
}

#visualGigs span{
	font-weight:bold;
	font-style:italic;	
	text-align:center;
	width:100%;
	display:block;
}
