/* CSS Document */

.bandmember{
	height:350px;
	width:600px;
	display:block;
}

#leden ul.previews{
	width:100%;
}
#leden ul.previews li{
	list-style:none;
	overflow:hidden;
	height:50px;	
	cursor:pointer;
}
#leden ul.previews img{
	width:auto;
	min-width:100%; max-width:175%;
	height:auto;
	min-height:100%; max-height:175%;
}

#laurens{
	background: url("/images/homemade_water_wallpaper.jpg") -248px 0;
	background-size:cover;
	width:128px;
}
#andrea{
	background: url("/images/homemade_water_wallpaper.jpg") -375px 0;
	background-size:cover;
	width:124px;
}
#eline{
	background: url("/images/homemade_water_wallpaper.jpg") -124px 0;
	background-size:cover;
	width:126px;
}
#moos{
	background: url("/images/homemade_water_wallpaper.jpg") -1px 0;
	background-size:cover;
	width:124px;
}
#julius{
	background: url("/images/homemade_water_wallpaper.jpg") -498px 0;
	background-size:cover;
	width:126px;
}
	
	