@charset "utf-8";
/* CSS Document */

#contact_form p{
	margin-top:15px;
	margin-bottom:5px;
	font-size:16px;
}

input[type="text"]{
	height:25px;
	width:250px;
	margin-top:5px;
	margin-bottom:5px;
}

input[type="text"], textarea{
	font: inherit;
	text-align:left;
	color:#06F;
	border-radius:5px;
	padding:1px 3px;
}

input[name="subject"]{
	width:250px;
}

input[type="submit"], input[type="reset"]{
	line-height:20px;
	padding:10px 20px !important;
	margin-top:30px;
	margin-right:10px;
	font-weight:bold;
	color:inherit;
	background-color:#0060F0;
	outline:none;
	border:none;
	border-radius:5px;
	cursor:pointer;
}