@charset "utf-8";
/* Foto stylesheet */


/* overall page */
#album-list{
	list-style: none;
}

#album-list li{
	display:inline-block;
	vertical-align:top;
	text-align:center;
	width:150px;
	margin: 20px 5px;
	padding:5px;
}

#album-list li:hover{
	/*width:300px;*/
	border:1px solid white;
	padding:4px;
	background-color:#122A2F;
}

#album-list li label{
	font-style:italic;
	font-weight:bold;
	display:block;
}

#album-list li a{
	display:block;
	width:100%;
	height:150px;
	overflow:hidden;
}

#album-list li span{
	display:block;
	color:white;	
}
#album-list li img {
	min-width:100%;
	width:auto;
	min-height:100%;
	height:auto;
	max-height:100%;
}


#thumblist{
	margin:30px auto;
	position:relative;
}

div.loading{
	visibility:hidden;
	position:absolute;
	top:0; left:0;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.8);
	background-image: url("../images/lightbox/loading.gif");
	background-position:center center;
	background-repeat: no-repeat;
	width:100%;
	height:100%;
	z-index:2;
}

.notLoaded > div.loading{
	visibility: visible;	
}

#thumblist ul{
	list-style:none;
	margin-left:20px;
}

#thumblist li{
	display: inline-block;
	overflow:hidden;
	width:110px;
	height:75px;
	margin:3px;
	border-radius:2px;
	opacity:0.9;
	filter:alpha(opacity=30); /* For IE8 and earlier */
	background-color:#777;
	border: 1px solid #777;
}

#thumblist li.loadingImg{
	opacity:0.3;
	filter:alpha(opacity=30); /* For IE8 and earlier */
}

#thumblist li:hover{
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	border-color:#122A2F;
	background-color:#122A2F;
	cursor:pointer;
}

#thumblist li img{
	display:block;
	margin:0;
	width:auto;
	min-width:100%;
	max-width:100%;
	height:auto;
	min-height:100%;
	border-radius:2px;
}


.fb_comment{
	margin-left:10px;
	width:700px;
}

#sharediv{
	width:90%;
	background-color:#323;
	padding:5px 2%;
	border-radius:3px;
}

#sharediv ul{
	list-style:none;
	margin-left:0;	
	line-height:1.5em;
}

#sharediv li{
	display:inline-block;
	width:20%;
	margin: 0 2%;
	vertical-align:middle;
	overflow:hidden;
}

#sharediv .fblike {
	overflow:hidden;
	height:22px;
	width:100px;
}

