@charset "utf-8";
/* Foto stylesheet */


/* overall page */
#album-list{
	list-style: none;
}

#album-list li{
	display:inline-block;
	vertical-align:top;
	text-align:center;
	width:150px;
	margin: 20px 5px;
	padding:5px;
}

#album-list li:hover{
	/*width:300px;*/
	border:1px solid white;
	padding:4px;
	background-color:#122A2F;
}

#album-list li label{
	font-style:italic;
	font-weight:bold;
	display:block;
}

#album-list li span{
	display:block;
	color:white;	
}
#album-list li img {
	width:100%;
}

/* album page */
/*
#showPhoto{ 
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	height:100%;
	width:100%;
	max-width:100%;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.9);
}

#photosite{
	position:relative;
	height:95%;
	width:auto;
	max-width:90%;
	margin-left:auto;
	margin-right:auto;
}

#photosite > div{
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
	margin-top:10px;
	clear:both;
	height:40px;
}

#photosite img.show{
	display:block;
	border-radius:10px;
	box-shadow: 0px 0px 5px #FFF;
	height:auto;
	max-height:100%;
	width:auto;
	max-width:100%;
 	margin: 0px auto;
	cursor:pointer;
}

#photosite span{
	position: absolute;	
	width:100%;
	top:30%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:20px;
	font-weight:bold;
}

#closePhotoAlbum{
	position:relative;
	bottom:25px;
	left:48%;
	width:40px;
	cursor:pointer;
	opacity:0.9;
	filter:alpha(opacity=90);
}

#closePhotoAlbum:hover{
	opacity:1;
	filter:alpha(opacity=100);
}
#closePhotoAlbum img{
	width:100%;
}
	
#nextPhoto, #previousPhoto{
	width:42%;
}
#nextPhoto{
	float:right;
	text-align:left;
}
#previousPhoto{
	float:left;
	text-align:right;
}
*/

#thumblist{
	margin:30px auto;
}

#thumblist ul{
	list-style:none;
	margin-left:20px;
}

#thumblist li{
	display: inline-block;
	overflow:hidden;
	width:110px;
	height:75px;
	margin:3px;
	border-radius:2px;
	opacity:0.3;
	filter:alpha(opacity=30); /* For IE8 and earlier */
	background-color:#777;
	border: 1px solid #777;
}

#thumblist li.loadedImg{
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
}
#thumblist li.loadedImg:hover{
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	border-color:#122A2F;
	background-color:#122A2F;
	cursor:pointer;
}


#thumblist li img{
	display:block;
	margin:0;
	width:auto;
	min-width:100%;
	max-width:100%;
	height:auto;
	min-height:100%;
	border-radius:2px;
}


.fb_comment{
	margin-left:10px;
	width:700px;	
}

#sharediv{
	width:25%;
	margin-right:20px;
	float:right;
	top:-6.5em;
	background-color:#323;
	padding:10px 10px;
	border-radius:3px;
}

#sharediv ul{
	list-style:none;
	margin-left:0;	
	line-height:1.5em;
}

#sharediv li{
	margin:5px auto;
}

#sharediv .fblike {
	overflow:hidden;
	height:22px;
}
/*#photolist-overflow{
	float:right;
	position:relative;
	width:100px;
	height:355px;
	margin-right: 50px;
	margin-top:20px;
	border: 3px outset white;
	border-radius:2px;
	z-index:1;
}
	
#photolist{
	background-color:black;
	position:relative;
	overflow:hidden;
	width:100%;
	height:100%;
}

#thumbs-one-album {
	margin:0;
	position:absolute;
	height:auto;
	width:100%;
}

#thumbs-one-album li {
	list-style: none;
	width:100%;
	margin-top:10px;
}	

#thumbs-one-album li img {
	width:100%;
	border:1px solid grey;	
	cursor:pointer;
}

#thumbs-one-album li img:hover{
	border-color: white;	
}

#up, #down{
	position:absolute;
	cursor:pointer;
	width:50px;
	height:50px;
	background-color: rgba(255,255,255,0.5);
	background-repeat:no-repeat;
	left:25px;
	border-radius:25px;
}
#up:hover, #down:hover{
	background-color: rgba(255,255,255,0.9);
}

#down{
	background-image: url("../images/arrow_down.png");
	background-position: bottom center;
	bottom:-25px;
}
#up{
	background-image: url("../images/arrow_up.png");
	background-position:top center;
	top:-25px;
}

*/



