@charset "utf-8";
/* CSS Document */

/*#guestbook p{
	height:auto;
	margin-right:10px;
	display:inline;
	position:relative;
}

#guestbook label *{
	max-height:100%;
}

#guestbook p span{
	float:left;
	text-align:right;
	width:4em !important;

}



#guestbook input["text"]{
	display:inline;
	text-align:left;
		
}*/

#guestbook input, #guestbook textarea, #guestbook select, #guestbook submit, #guestbook reset #guestbook checkbox{
	display: inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;	
	margin-bottom:10px;
}

#guestbook label{
	text-align:right;
	display:inline-block;
	vertical-align:middle;
	width:80px;
	margin:0 10px 0 0;
}

#guestbook input[type="text"]{
	width:228px;

}

#guestbook textarea{
	width:290px;
	max-width:290px;
	min-width:290px;
	min-height:75px;
	height:75px;
	max-height:150px;
}

#guestbook input[type="submit"]{
	vertical-align:bottom;
	margin:0 10px 10px 10px;
}

#guestbook input[type="checkbox"], #guestbook #email-copy-label{
	vertical-align:bottom;
	margin: 0 0 10px 5px;
}

#guestbook #email-copy-label{
	width:115px;
}

#guestbook #email-copy-checkbox{
	margin-bottom:15px;	
}

#posts{
	margin-top:50px;
}

#posts div.gastItem{
	height:auto;
	min-height:90px;
	border-radius:5px;	
	padding:5px 10px;
	margin:10px;
	background: url("../images/quote.png") top left no-repeat rgba(0,0,0,0.3);
}

#posts p.head label{
	font-weight:bold;
}

#posts p.head{
	font-weight:normal;
	font-style:italic;
}

#posts p{
	margin-left:90px;
}