@charset "utf-8";
/* CSS Document for the header*/

#header{
	background:#000;
	padding-bottom:30px;
}


/* Logo and tapsplash positioning */
#tapsplash {
	position: absolute;
	margin-left: 689px;
	margin-top: 138px;
	z-index:2;
} 

#logo {
	height:200px;
	position:relative;
	margin-left:400px;
}

/* Menu positioning */
#navbar {
	background: url("../images/bar_head_and_foot.png") repeat-x top left;
	height: 40px;
	width: 100%;
	position:absolute;
	top:200px;
	left:0;
	z-index: 10;
}

#menu{
	position:relative;
}

#menu, #menu ul {
    list-style: none;
    padding: 0;
	margin-left:20px;
	margin-right:20px;
}

#menu > li{ 
    float: left;
	margin-left: 25px;
	margin-right:10px;
}
#menu li a {
    display: block;
    height: 2em;
    line-height: 2.5em;
    padding: 0 20px;
    text-decoration: none;
	vertical-align:middle;
}
#menu ul {
    position: absolute;
    display: none;
	margin-left:0px;
    z-index: 999;
}

#menu li{
	position:relative;
	left:0;
}
#menu ul ul{
	top:0;
	margin-left:140px;
}

#menu li:hover ul.noJS {
    display: block;
}

	
/* Menu coloring and styling */
/* Main menu
------------------------------------------*/
#menu {
    font-family: Arial;
    font-size: 16px;
}

#menu > li:nth-child(even){
	position:relative;
	top:-1px;
	transform:rotate(1deg);
	-ms-transform:rotate(1deg); /* IE 9 */
	-webkit-transform:rotate(1deg); /* Safari and Chrome */
}



#menu > li:nth-child(odd){
	position:relative;
	top:2px;
	transform:rotate(-2deg);
	-ms-transform:rotate(-2deg); /* IE 9 */
	-webkit-transform:rotate(-2deg); /* Safari and Chrome */
}

#menu ul{
	font-size:15px;
}
#menu ul ul{
	font-size:14px;
}

#menu  li > a {
    color: #000;
    font-weight: bold;
}
#menu li:hover > a {
    /*color: rgba(255,255,255,0.8);*/
    color: #00A;
}
 

/* Submenu
------------------------------------------*/
#menu ul {
    background-color: white;
	opacity: .88; /* standard: ff gt 1.5, opera, safari */
}

#menu ul li:hover{
	background-color: #EEE;
	border-radius:40px 10px;
}
#menu ul ul{
	background: #CCC;
}
#menu > li.highlight > a, #menu ul li.highlight > a{
    color: #00C;
}

