@charset "utf-8";
/* CSS Document for the header*/

#header{
	background:#000;
	padding-bottom:30px;
}


/* Logo and tapsplash positioning */
#tapsplash {
	position: absolute;
	margin-left: 233px;
	margin-top: 122px;	
	width:150px;
	z-index:11;
} 

div.logo{
	height:160px;
	margin-left:30%;
	width:auto;
	position:relative;
}
#logo {
	height:100%;
}

/* Menu positioning */
#navbar {
	background: url("../images/bar_head_and_foot.png") repeat-x top left;
	filter: drop-shadow(0px 10px 14px #222); 
	-webkit-filter: drop-shadow(0px 10px 14px #222); 
	-moz-webkit-filter: drop-shadow(0px 10px 14px #222); 
	-ms-webkit-filter: drop-shadow(0px 10px 14px #222); 
	 
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	/* The url is relative to the document, not to the css file! */
    /* Prefer absolute urls to avoid confusion. */
    -ms-behavior: url(/backgroundsize.min.htc);
   
	height: 60px;
	width: 100%;
	position:absolute;
	top:166px;
	left:0;
	z-index: 10;
}


/* The agenda item */
div.home_highlight{
	position:absolute;
	top:15px;
	margin-left:2%;
	font-size:18px;
	font-family:BrushstrokePlain;
	transform:rotate(-6deg);
	-ms-transform:rotate(-6deg); /* IE 9 */
	-webkit-transform:rotate(-6deg); /* Safari and Chrome */
	text-align:center;
	
}
div.home_highlight label{
	display:block;
	margin-bottom:10px;	
	color:white;
}

div.home_news{
	width:250px;
	font-size:20px;
	color: #F00;
}

div.home_agenda{
	color:#CC6633;
}

#menu{
	position:relative;
	-webkit-filter: drop-shadow(0px 0px 0px #222); filter: drop-shadow(0px 0px 0px #222);
}

#menu, #menu ul {
    list-style: none;
    padding: 0;
	margin-left:20px;
	margin-right:20px;
	margin-top:10px;
	margin-bottom:15px;
	height:35px;
}

#menu > li{ 
    float: left;
	margin-left: 15px;
	margin-right:0;
	z-index:12;
}
#menu >li *{
	z-index:12;
}
#menu li a {
    display: block;
    height: 15px;
    line-height: 15px;
    padding: 0 20px;
    text-decoration: none;
	vertical-align:middle;
	
}
#menu ul {
    position: absolute;
    display: none;
	margin-left:0px;
    z-index: 999;
}

#menu li{
	position:relative;
	left:0;
	top:4px;
}
#menu ul ul{
	top:0;
	margin-left:140px;
}

#menu li:hover ul.noJS {
    display: block;
}

	
/* Menu coloring and styling */
/* Main menu
------------------------------------------*/
#menu {
    font-family: 'Maven Pro', sans-serif;
    font-size: 15px;
}


/*#menu > li:nth-child(even){
	position:relative;
	top:-1px;
	transform:rotate(1deg);
	-ms-transform:rotate(1deg); /* IE 9 */
/*	-webkit-transform:rotate(1deg); /* Safari and Chrome */
/*}*/



/*#menu > li:nth-child(odd){
	position:relative;
	top:2px;
	transform:rotate(-2deg);
	-ms-transform:rotate(-2deg); /* IE 9 */
/*	-webkit-transform:rotate(-2deg); /* Safari and Chrome */
/*}*/

#menu ul{
	font-size:15px;
}
#menu ul ul{
	font-size:14px;
}

#menu  li > a {
    color: #000;
    font-weight: bold;
}
#menu li:hover > a {
    /*color: rgba(255,255,255,0.8);*/
    color: #00A;
}
 

/* Submenu
------------------------------------------*/
#menu ul {
    background-color: white;
	opacity: .88; /* standard: ff gt 1.5, opera, safari */
}

#menu ul li:hover{
	background-color: #EEE;
	border-radius:40px 10px;
}
#menu ul ul{
	background: #CCC;
}
#menu > li.highlight > a, #menu ul li.highlight > a{
    color: #06F;
}

