@charset "utf-8";
/* CSS Document */

#news ul, #agenda ul{
	list-style:none;
	margin:0;
	width:100%;
	clear:both;
}
#news li a, #agenda li a{
	text-decoration:none;
	vertical-align:middle;
}
#news label{
    display:block;
	float:left;	
	border-radius:4px;
}

#news li{
	margin:10px auto;
	overflow:hidden;
	height:auto;
	width:100%;
}

#news .itemimg{
	display:block;
	width:95%;
	height:80px;
	background-color:white;
	background-position:center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* The url is relative to the document, not to the css file! */
    /* Prefer absolute urls to avoid confusion. */
    -ms-behavior: url("/misc/backgroundsize.min.htc");
}
#news span{
	height:100%;
	display:inline-block;
	vertical-align:middle;
}
#news span a{
	padding-left:10px;
	display:inline-block;
	vertical-align:middle;
}

#agenda li{
	width:100%;
	margin:5px auto;
}
#agenda h4{
	margin-top:15px;
}

#agenda li.noJS{
	position:fixed;
	top:-1000000px;
	left:-1000000px;
/*
#agenda li div.date{
	margin-top:0;	
}
#agenda li > span{
	display:block;
	width:auto;
	vertical-align:middle;
	margin-left:65px; /* width label + margin 20px /	
}*/
	


