@charset "utf-8";
/* CSS Document */

#news ul, #agenda ul{
	list-style:none;
	margin:0;
	width:100%;
}
#news li a, #agenda li a{
	text-decoration:none;
	vertical-align:middle;
}
#news label{
    display:block;
	float:left;	
	border-radius:4px;
	vertical-align:middle;
	margin-right:20px;
	
}
#agenda li > span, #news span{
	display:block;
	width:auto;
	vertical-align:middle;
	margin-right: 10px;	
}


#news li{
	margin:10px auto;
	overflow:hidden;
	height:auto;
	max-height:180px;
	width:100%;
}
#news label{
	width:120px;
	height:auto;
	max-height:120px;
	vertical-align:middle;
}
#news img{
	width:100%;	
	background-color:white;
	max-height:180px;
	height:auto;
	min-height:30px;
	display:table-cell;
	vertical-align:middle;
	cursor:pointer;
	vertical-align:middle;
}

#agenda li{
	height:55px;
	margin:2px auto;
	overflow:hidden;
}

#agenda li div.date{
	margin-top:0;	
}
#agenda li>span{
	margin-left:65px; /* width label + margin 20px */	
}
	
#news span{
	margin-left:140px; /* width label + margin 20px */	
}

