*{
 	margin:0;
	padding:0;
	/*border: 1px solid #FF3;*/
}

img{
	border:none;
}

html, body{
	height:100%;
	width:auto;
	min-width:1100px;
	position:relative;
	background: url("../images/backgrounds/achtergrondDSB5.jpg")  fixed no-repeat top left #000000;
	font-family:'Average Sans', Arial, Gadget, serif;
	font-size: 1em;
	color: #CCC;

}
.hidden{
	visibility:hidden;
}

#header, #footer{
	width:auto;
	min-width:100%;	
}

#header{
	position: relative;
	width:100%;
	z-index:100;
}

#wrapper{
	position:relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin:0 auto -75px;
}

#footer{
	position:absolute;
	bottom:0;
	z-index:100;	
}

#push{
	height:75px;
}

#content-bar{
	background-color:#362F2F;
	width:800px;
	position:relative;
	z-index:50;
	margin: 0 auto  0 150px;
}
	
#content{
	position:relative;
	overflow:auto;
	padding-bottom:70px;
	padding-top: 30px;
	margin-left: 30px;
	margin-right:30px;
}

#sidebar-left, #sidebar-right{
	position:absolute;
	width:50px;
	height:100%;
	top:0;
}

#sidebar-left{
	background:url("../images/enkele-streep-verticaal_01.png") repeat-y top left transparent;
	left:-22px;
}

#sidebar-right{
	background:url("../images/enkele-streep-verticaal-rechts_03.png") repeat-y top left transparent;
	right:-35px;
}

ul{
	margin-left:20px;
	font-weight:bold;
	list-style:disc;
	list-style-position:inside;
}

h1,h2,h3,h4,h5,h6{
	margin:10px 0;
}

h2{
	font-size:0.9em;
}
h3 { 
	font-size:1.4em;
}

p{
	margin:10px auto;
	line-height:120%;
}

a{ 
	color: inherit;
}
