*{
   margin:0px;
   padding:0px;
   /*border: 1px solid white;*/
} 

body{
   width:1000px;
   margin: 5px  auto;
   font-size: 0.6em;
   font-family:Arial, Helvetica, sans-serif;
   text-align: center;
   color:#FFF;
   background: url("../images/background.jpg") repeat center top #060606;
}

#wrapper{
   background-color: #060606;
   width: 100%;
   padding:20px 5px;
   border-radius:15px;
}

#logo img{
   display: inline;
   position: relative;
   vertical-align: bottom;
   width: 70%;
   min-width:650px;
}

/*text*/
#head-content{
	width:85%;
	margin:5px;
	margin-left:auto;
	margin-right:auto;
}
#head-content h1,#head-content h2{
	margin:2%;
	padding: 5px;
}

#head-content .Story{
	width: 80%;
	margin-left:auto;
	margin-right: auto;
}

#signed{
	width: 45%;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	top: 30px;
	
}

a{
   color:inherit;
   text-decoration:none;
}

#contact{
	border: 5px outset white;
    padding: 3px;
	margin-right: 5%;	
	margin-bottom:10px;
	float:right;
	width: 200px;
	overflow:auto;
	position: relative;
	top: -80px;
    vertical-align:center;
	margin-top: margin-bottom: 20px;

	font-size: 15px;
	text-align: center;
	font-weight:bold;
}


#contact:hover{
    text-decoration:underline;
    /*border-style:inset;    */
}

	
#social-media-icons{
   width: 25%;
   margin-top: 8px;
   margin-left: 5%;
   margin-right: 5px;
   position:relative;
   top: -35px;
}

.scIcon{
	float: right;
	width:20%;
	margin-right:8%;
	border: 5px outset #AAA;
	border-radius:10px;	
	overflow: hidden;
}

.scIcon img{
	width: 100%;
	position:relative;
	vertical-align:middle;
	border: 0;
}

.scIcon:hover{
	border-style:inset;
}

#keywords{
	visibility: hidden;
	width:50%;
	margin-left: auto; 
	margin-right: auto;
	
}


