@charset "utf-8";
/* CSS Document */
	
.newsitem{
	width:95%;
	height:auto;
	border-radius:20px;	
	margin-bottom:30px;
	overflow:auto;
	padding:10px;
	background-color:rgba(0,0,0,.3);
}

.newsitem img{
	float:left;
	clear:left;
	position: relative;
	z-index:2;
	display:block;
	margin-top:18px;
	margin-left:55px;
	margin-right:10px;
	margin-bottom:10px;	
	height:auto;
	width:250px;
	border-radius:4px;
	background-color:white;
}

.newsitem .date{
	float:left;
	margin-right:20px;
	margin-left:5px;
	margin-top:5px;
	height:45px;
	width:45px;
	background-color:#06F;
	border-radius:4px;
	color:black;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
}

.newsitem .date label{
	display:block;
	color:white;
	text-align:center;
	vertical-align:middle;
	line-height:22px;
}

.newsitem .date span{
	display:block;
	color:#011369;
}

.newsitem p{
	position:relative;
	margin-top:20px;
	margin-left:55px;
}

.newsitem p:first-of-type:first-letter{
	font-family: BrushstrokePlain;
	float:left;
	line-height:1em;
	font-size:300%;
	font-weight:900;
	margin-right:5px;
	color:#06F;
}

.morenews{
	text-align:center;
	margin:30px auto 10px;
}

.morenews span{
	margin:auto 20px;
	color:#999;
}

.morenews span a{
	color:#CCC;
}


.single img{
	float:none;
	width:75%;
	display:block;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
	-webkit-box-shadow: 0px 0px 3px 5px #333;
	-moz-box-shadow: 0px 0px 3px 3px #333;
	box-shadow: 0px 0px 3px 3px #333; 
	filter:progid:DXImageTransform.Microsoft.Glow(color='gray', Strength='7')
}
.single{
	width:90%;
	padding-left:30px;
	padding-right:40px;
	padding-top:50px;
	padding-bottom:100px;
	border-radius:100px 10px ;
}
