@charset "utf-8";
/* CSS Document */
	
.newsitem{
	width:95%;
	height:auto;
	border-radius:10px;	
	margin: 0px auto;
	overflow:auto;
}

.newsitem h3 a {
	text-decoration:none;
}

.newsitem .description{
	width:95%;
	margin-left:5%;
}
.newsitem a.itemimg{
	border-radius:3px;
	margin-top:10px;
	position:relative;
	z-index:2;
	display:block;
	height:225px;	
	background-color:white;
	background-position:center center;
	-webkit-background-size: cover;
       -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	/* The url is relative to the document, not to the css file! */
    /* Prefer absolute urls to avoid confusion. */
    -ms-behavior: url("/misc/backgroundsize.min.htc");
}

.newsitem div.text p:first-of-type:first-letter{
	font-family: BrushstrokePlain;
	float:left;
	line-height:1em;
	font-size:300%;
	font-weight:900;
	margin-right:5px;
	color:#06F;
}
.newsitem div.text{
	margin-left:42%;
	margin-right:0;
	width:58%;
}
.newsitem.single div.text{
	width:100%;
	margin:0;
}
.newsitem.single .description{
	margin:20px 0;
	width:100%;
}
.newsitem.single{
	width:90%;
}
.newsitem.single img{
	float:none;
	width:75%;
	max-width:75%;
	display:block;
	margin:30px auto 0;
	background-color:white;
	border-radius:5px;
	-webkit-box-shadow: 0px 0px 3px 5px #333;
	   -moz-box-shadow: 0px 0px 3px 3px #333;
	        box-shadow: 0px 0px 3px 3px #333; 
	filter:progid:DXImageTransform.Microsoft.Glow(color='gray', Strength='7')
}
